/*
 * HTML5 Boilerplate
 *
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol, ul.reset, ol.reset { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==|== primary styles =====================================================
   Author: River to Well
   ========================================================================== */

  /* Overall Page */
  body { background:url(../img/background.jpg) repeat center #CCC; font-family:Arial; font-size:14px; min-width:1024px; -webkit-font-smoothing:antialiased; }
  h2 { color: #212121; font-family:'Museo-500'; font-weight:400; font-size:24px; text-transform: uppercase; text-align:center; background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#0e0e0e)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  h3 { color: #41baeb; font-family:'Museo-500'; font-weight:400; font-size:26px; text-shadow: 1px 1px 2px #f4f3f3; }
  a { color:#0189bb; text-decoration:none; }
  a:hover { color:#0189bb; text-decoration:underline; }
  a:visited { color: #0077a3; }
  .content { width: 1024px; margin:0 auto; background: #FFF; }
  input { font-family:Arial; text-shadow: 1px 1px 2px #2a7899; }

  /* Section */
  .section { }
  .section h2 { margin:15px 0; }
  .section .slide { float: left; width:1024px; height:465px; }
  .section .carousel .pager { }

  /* Arrow Buttons */
  .arrow { background:url(../img/arrow_button_sprite.png) no-repeat; height:63px; width:63px; position: absolute; }
    .arrow:hover { background-position:0 -70px; }
    .arrow.prev { top:50%; margin-top:-32px; left:0; }
    .arrow.next { top:50%; margin-top:-32px; right:0; background-position:-70px 0;}
      .arrow.next:hover { background-position:-70px -70px;}

  /* Pager Buttons */
  .pager { text-align:center; margin-top: 10px; }
  .pager a { text-indent: -9999px; margin-right:8px; background:url(../img/pager_button_sprite.png) -21px 0 no-repeat; height:13px; width:13px; display: inline-block; border: 0; font: 0/0; text-shadow: none; color: transparent; background-color: transparent; }
  .pager a.selected { background-position:0 0; }

  /* Thumbnail */
  .thumbnail { position: relative; }
  a.thumbnail { float: left; }
  .thumbnail img { float: left; }
  .thumbnail .description { position: absolute; width: 100%; left: 0; bottom: -40px; background: #09d5ce; padding: 8px 0; text-align: center; font-family:'Museo-700'; font-weight:400; color: #333; }
  .thumbnail .description p { padding:0; margin:0; }
  .thumbnail:hover .description { bottom: 0; }
  .active .thumbnail .description { bottom: 0; }

  /* Header */
    /* Donate Nag */
    .donatenag { position: fixed; top: 0; left: 0; z-index: 1000; width: 100%; height:24px; line-height:24px; background:#43b9ea; color:#000; }
    .donatenag p { width: 1024px; margin:0 auto; font-family:'Arial'; font-weight:400; font-size: 12px; text-indent:10px; }
    .donatenag a { color:#FFF; font-family:'Museo-700'; font-weight:400; }
    .donatenag a.close { float: right; background:url(../img/donatenag_close.png) no-repeat; height:16px; width:16px; margin-top:4px; }
      .donatenag a.close:hover { background-position:0 -20px; }

    /* Main Nav */
    .fixednav { background:url(../img/mainnav_background.png) repeat-x; height:125px; font-size:13px; font-family:'Museo-500'; position: relative; }
      .fixednav.fixed { position: fixed; top: 0; left: 50%; z-index: 999; margin-left: -512px; width:1024px; height:125px; }
    .fixednav h1 { margin:0; }
    .fixednav h1 a { background:url(../img/logo.png) no-repeat; height:49px; width:237px; position: absolute; top:45px; left:30px; }
    /* Non fixed Nav */
    .nonfixednav { background:url(../img/mainnav_background.png) repeat-x; height:125px; font-size:13px; font-family:'Museo-500'; position: relative; }
      .nonfixednav.fixed { position: fixed; top: 0; left: 50%; z-index: 999; margin-left: -512px; width:1024px; height:125px; }
    .nonfixednav h1 { margin:0; }
    .nonfixednav h1 a { background:url(../img/logo.png) no-repeat; height:49px; width:237px; position: absolute; top:45px; left:30px; }

    .mainnav { float: right; margin-top:30px; margin-right:35px; padding-right:35px; position: relative; }
    .mainnav ul { float: right;}
    .mainnav li { float: left; padding:0 10px 0 0; margin:0 10px 0 0; background:url(../img/mainnav_li_background.png) no-repeat right 10px; }
      .mainnav li.last { background:none; padding:0; margin:0; }
    .mainnav a { color: #606060; border: none; text-decoration:none; font-weight:400; text-shadow: 1px 1px 2px #FFF; line-height:55px; }
      .mainnav a:hover { text-decoration:underline; }
      .mainnav .active a { font-family:'Museo-500'; color: #549ab7; }
      .mainnav a:focus { outline: none; }
      .mainnav .earth { background:url(../img/mainnav_active.png) no-repeat; height:90px; display: block; height: 40px; width: 30px; left:5px; bottom: -30px; position: absolute; }
        .mainnav .earth.home { left:5px; }
        .mainnav .earth.competition { left:100px; }
        .mainnav .earth.winners { left:190px; }
        .mainnav .earth.potm { left:250px; }
        .mainnav .earth.aboutus { left:315px; }
        .mainnav .earth.contactus { left:388px; }
    /* Social Icons */ 
    .fixednav .socialtoggle { position: absolute; top:47px; right:30px; height:21px; width:21px; background:url(../img/mainnav_social.png) no-repeat; z-index: 5; }
      .fixednav .socialtoggle:hover { background-position: 0 -30px;}
      .fixednav .socialtoggle.toggleon { background-position: 0 -62px;}
      .fixednav .socialtoggle.toggleon:hover { background-position: 0 -92px;}
    /* Social Toggle */
    .fixednav .socialtogglebar { border: 1px solid #CCC; padding-top: 35px; height: 130px; width: 30px; border-radius: 3px; background: #DDD; position: absolute; top: 43px; right: 25px; z-index: 4; }
      .fixednav .socialtogglebar .icon { display:block; height: 27px; width: 27px; margin-bottom: 5px; margin-left:2px; background: url(../img/social_icon_sprite.png) no-repeat; }
      .fixednav .socialtogglebar .icon:hover { background-position: -60px 0; }
      /* Facebook */
      .fixednav .socialtogglebar .icon.facebook { background-position: 0 0; }
        .fixednav .socialtogglebar .icon.facebook:hover { background-position: -60px 0; }
      /* Twitter */
      .fixednav .socialtogglebar .icon.twitter { background-position: 0 -25px; height: 25px; }
        .fixednav .socialtogglebar .icon.twitter:hover { background-position: -60px -25px; }
      /* Vimeo */
      .fixednav .socialtogglebar .icon.vimeo { background-position: 0 -50px; }
        .fixednav .socialtogglebar .icon.vimeo:hover { background-position: -60px -50px; }
      /* Flickr */
      .fixednav .socialtogglebar .icon.flickr { background-position: 0 -76px; height: 25px; }
        .fixednav .socialtogglebar .icon.flickr:hover { background-position: -60px -76px; }

  /* Donate */
  .donate { }
  .donate .button { background:url(../img/donate_button_sprite.png) repeat-x; height:145px; width:145px; display: block; position: absolute; left:50%; margin:0 0 0 -82px; top:-105px; }
    .donate .button:hover { background-position:0 -150px; }

  /* Hero */
  .hero { padding:0 0 30px 0; margin-top:125px; overflow: hidden; position: relative; }
  .hero .slide { float: left; width:1024px; overflow: hidden; position: relative; }
    .hero .slide.hide { display: none; }
  .hero .slide img { width:100%; }
  .hero .donate { }

  /* Competition Section */
  .competition { }
  .competition .slide { height: 300px; }
  .competition .videos { margin-left:90px; }
  .competition .video { background:url(../img/competition_poster_frame.png) no-repeat; padding:5px; margin-right:10px; margin-bottom:15px; height:167px; width:267px; float: left; }
  .competition .nexttext { text-shadow: 1px 1px 2px #f4f3f3; font-size:20px; color: #3dbbe6; font-family:'Museo-500'; }
  .competition .nexttext p { margin:0; }
  .competition .nexttext a { color: #3dbbe6; font-family:'Museo-700'; display: block !important; margin-top:5px; }
  .section.competition .carousel { background:url(../img/section_overlay.png) 0 25px no-repeat; height:310px; position: relative; margin-bottom: 60px; }

    /* Slide One */
    .competition .slideone .column.left { float: left; clear: left; margin-left: 70px; margin-top: 15px; width: 500px; }
    .competition .slideone .column.left iframe { border: 1px solid #CCC; }
    .competition .slideone .column.right { clear: right; float: right; background: none; width:350px; margin-right: 75px; margin-top: 110px; }
    .competition .slideone .column.right p { margin-bottom: 78px; font-size: 18px; color:#3dbbe6; font-family:'Museo-500'; background: #2ffbf4; color: #000; display: block; width: 265px; font-size: 13px; height: 50px; padding-left: 10px; padding-right: 10px; padding-top: 13px; }
    .competition .slideone .column.right p span { font-family:'Museo-700'; }
    .competition .slideone .column.right .nexttext { font-size: 12px; text-align: right; font-family:'Museo-700'; }
    .competition .slideone .column.right .nexttext a { color:#999999; display: inline !important; }

    /* Slide Two */
    .competition .slidetwo .slidetwo { position: relative; }
    .competition .slidetwo .column { float: left; margin-top:55px; padding-right: 15px; margin-right: 18px; background: url(../img/slide_column_background.png) right 15px no-repeat; min-height: 160px; }
    .competition .slidetwo .column h3 { color: #000; font-size: 20px; margin-bottom: 15px; text-transform: uppercase; min-width: 110px; }
    .competition .slidetwo .column li { color: #43b9ea; font-family: "Arial"; font-size: 11px; margin-bottom: 3px; }
    .competition .slidetwo .column.first { margin-left:100px; }
    .competition .slidetwo .column.last { background: none; }
    .competition .slidetwo .nexttext { float: right; margin-right: 100px; margin-top: 10px; }
    .competition .slidetwo .column.right .nexttext { font-family:'Museo-700'; font-size: 12px; text-align: right; }
    .competition .slidetwo .column.right .nexttext a { color:#999999; }
    /* Slide Three */
    .competition .slidethree { padding-top:35px; height: 295px; }
    .competition .slidethree .column { width:350px; float: left; padding-right: 15px; margin-right: 18px; background: url(../img/slide_column_background.png) right 15px no-repeat; min-height: 100px; }
    .competition .slidethree .column.left { clear: left; margin-left: 150px; }
    .competition .slidethree .column.right { clear: right; float: right; background: none; width:430px; }
    .competition .slidethree .column h3 { color: #000; font-size: 20px; margin-bottom: 15px; text-transform: uppercase; min-width: 110px; }
    .competition .slidethree .column p { color: #43b9ea; font-family: "Arial"; font-size: 11px; margin-bottom: 3px; }
    .competition .slidethree .column ol { margin: 0; padding: 0; list-style: disc; list-style-position: inside; }
    .competition .slidethree .column li { color: #43b9ea; font-family: "Arial"; font-size: 11px; margin-bottom: 3px; }
    .competition .slidethree .downloadrules { float: left; margin-top: 35px; margin-left: 40px; background: url(../img/button_downloadrules.png) no-repeat; height: 60px; width:230px; display: block; }
      .competition .slidethree .downloadrules:hover { background-position: 0 -60px; }

  /* Winners Section */
  .winners.section .carousel { background:url(../img/section_overlay2.png) 0 0 repeat-x; width: 100%; height:330px; margin-bottom: 30px; position: relative; }
  .winners .carousel { padding-top: 8px; }
  .winners .carousel li { float: left; margin-right: 10px; }

  /* POTM Section */
  .potm.section .carousel { height:330px; position: relative; margin-bottom: 30px; }
  .potm .carousel li { float: left; background: url(../img/potm_background.png) no-repeat; margin:0 79px; width:866px; height: 320px; overflow: hidden; position: relative; }
  .potm .ribbon { background: url(../img/potm/ribbon_overlay.png) no-repeat; height: 165px; width: 171px; position: absolute; top: 0; right: 0; }
  .potm .carousel li img { margin: 8px; width: 850px; }
  .potm .carousel .photographer { font-family:'Museo-500'; margin-top:4px; width: 100%; text-align: center; color:#BBB; font-size: 20px; }
  .potm .carousel .photographer span { color:#000; }
  .potm .explanation { color:#3dbbe6; font-size: 24px; font-family:'Museo-500'; width: 850px; margin: 0 auto; margin-bottom: 25px; }
  .potm .legal { color:#000; font-size: 11px; width: 850px; margin: 0 auto; margin-bottom: 25px; }
  .potm .steps { background: #33fff8; font-family: "Arial"; font-size: 17px; width:1024px; height:66px; margin-bottom: 25px; }
  .potm .steps li { float: left; width:200px; height: 66px; background: url(../img/potm_steps.png) center left no-repeat; line-height: 66px; margin-right: 15px; padding-left: 35px;  }
    .potm .steps .first { background-position: 0 8px; margin-left: 100px; width: 160px; }
    .potm .steps .second { background-position: 0 -204px; padding-left: 50px; }
    .potm .steps .third { background-position: 0 -419px; width: 290px; padding-left: 45px; }
  .potm .donate { height: 60px; width: 230px; background: url(../img/potm_donate_sprite.png) no-repeat; display: block; margin: 0 auto; margin-bottom: 20px; }
    .potm .donate:hover { background-position: 0 -70px; }

  /* About Us Section */
  .aboutus { }
  .aboutus.section { margin-bottom: 40px;}
  .aboutus.section .carousel { background:url(../img/section_overlay.png) 0 25px no-repeat; height:320px; position: relative; margin-bottom: 45px; }
  .aboutus.section .carousel .slide { height: 325px; }
  /* Slide One */
    .aboutus .slideone .column.left { float: left; clear: left; margin-left: 70px; margin-top: 15px; width: 500px; }
    .aboutus .slideone .column.left iframe { border: 1px solid #CCC; }
    .aboutus .slideone .column.right { clear: right; float: right; background: none; width:350px; margin-right: 75px; margin-top: 60px; }
    .aboutus .slideone .column.right p { font-size: 18px; color:#3dbbe6; font-family:'Museo-500'; }
    .aboutus .slideone .column.right p span { font-family:'Museo-700'; }
    .aboutus .slideone .column.right .nexttext { color:#3dbbe6; font-family:'Museo-700'; font-size: 20px; }
    .aboutus .slideone .column.right .nexttext a { color:#3dbbe6; }
  /* Slide Two */
    .aboutus .slidetwo .column.left { float: left; clear: left; margin-left: 70px; margin-top: 15px; width: 500px; }
    .aboutus .slidetwo .column.left iframe { border: 1px solid #CCC; }
    .aboutus .slidetwo .column.right { clear: right; float: right; background: none; width:350px; margin-right: 75px; margin-top: 60px; }
    .aboutus .slidetwo .column.right p { font-size: 18px; color:#3dbbe6; font-family:'Museo-500'; height: 170px; }
    .aboutus .slidetwo .column.right p span { font-family:'Museo-700'; }
    .aboutus .slidetwo .column.right .nexttext { font-family:'Museo-700'; font-size: 12px; text-align: right; }
    .aboutus .slidetwo .column.right .nexttext a { color:#999999; }
  /* Team Members */
    .team { margin-left: 70px !important; margin-top: 15px !important; width: 825px; height: 155px; float: left; clear: both; }
      .team.rowtwo { margin-left: 150px !important; margin-top: -20px !important;  }
    .team .member { position: relative; height: 152px; width: 152px; background: url(../img/about/team_members_sprite.png) no-repeat; display: block; float: left; margin-right: 10px; }
    .team .member:hover { background-position: 0 -340px; }
    .team .member span { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: url(../img/about/team_members_sprite.png) no-repeat; background-position: 0 -340px; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; }
      .no-csstransitions .team .member span { display: none !important; }
    .team .member:hover span { opacity: 1; }

      /* Individuals */
      .team .member.ken { background-position: 0 0; }
        .no-csstransitions .team .member.ken:hover { background-position: 0 -340px; }
        .csstransitions .team .member.ken span { background-position: 0 -340px; }

      .team .member.kelsey { background-position: -160px 0; }
        .no-csstransitions .team .member.kelsey:hover { background-position: -160px -340px; }
        .csstransitions .team .member.kelsey span { background-position: -160px -340px; }

      .team .member.shannon { background-position: -322px 0; }
        .no-csstransitions .team .member.shannon:hover { background-position: -322px -340px; }
        .csstransitions  .team .member.shannon span { background-position: -322px -340px; }

      .team .member.brian { background-position: -483px 0; }
        .no-csstransitions .team .member.brian:hover { background-position: -483px -340px; }
        .csstransitions .team .member.brian span { background-position: -483px -340px; }

      .team .member.rusty { background-position: -643px 0; }
        .no-csstransitions .team .member.rusty:hover { background-position: -643px -340px; }
        .csstransitions .team .member.rusty span { background-position: -643px -340px; }

      .team .member.shane { background-position: 0 -167px; }
        .no-csstransitions .team .member.shane:hover { background-position: 0 -507px; }
        .csstransitions .team .member.shane span { background-position: 0 -507px; }

      .team .member.lizzie { background-position: -161px -167px; }
        .no-csstransitions .team .member.lizzie:hover { background-position: -161px -507px; }
        .csstransitions .team .member.lizzie span { background-position: -161px -507px; }

      .team .member.orion { background-position: -322px -167px; }
        .no-csstransitions .team .member.orion:hover { background-position: -322px -507px; }
        .csstransitions .team .member.orion span { background-position: -322px -507px; }

      .team .member.whitney { background-position: -483px -167px; }
        .no-csstransitions .team .member.whitney:hover { background-position: -483px -507px; }
        .csstransitions .team .member.whitney span { background-position: -483px -507px; }

      .team .member.david { background-position: -644px -167px; }
        .no-csstransitions .team .member.david:hover { background-position: -644px -507px; }
        .csstransitions .team .member.david span { background-position: -644px -507px; }

  /* Contacts Section */
  .contact fieldset { width:625px; margin:0 auto; padding-bottom: 180px; height: 130px; }
  .contact .formfield { border-radius: 3px; border:none; background: #3392b9; padding:10px; color:#fff; }
  .contact .text { float:left; clear:left; width:280px; margin-bottom: 10px; }
    .contact .text::-webkit-input-placeholder { color:#FFF; }
    .contact .text.error { background-color: #ff4848; }
  .contact .textarea { float:right; clear:right; width:280px; height: 63px; resize:none; }
    .contact .textarea::-webkit-input-placeholder { color:#FFF; }
    .contact .textarea.error { background-color: #ff4848; }
  .contact .send {  background: url(../img/contact_send_button.png) no-repeat; height: 30px; width: 110px; margin-left: 258px; }
    .contact .send:hover { background-position: 0 -40px; }
    /* Error */
    .contact .contactuserror { margin: 0; padding: 0; width: 300px; margin-left: 240px; clear: both; margin-bottom: 10px; }

    /* Thanks */
    .contact .thanks { /*width:625px; margin:0 auto; padding-bottom: 100px;*/ text-align: center; }
    .contact .thanks h3 { margin-bottom: 0; }
    .contact .thanks p { margin-top: 5px; }

  /* Secondary Page Styles */
  .secondary .section { padding: 20px 70px; }
  .secondary .section h2 { text-align: left; text-transform: none; }

  /* FAQ Section Styles */
  .faq.section dt { font-weight: 400; color: #3dbbe6; font-size: 18px; font-family: 'Museo-500'; }
  .faq.section dd { font-weight: 400; margin: 0; margin-bottom: 10px; font-size: 15px; font-family: 'Museo-500'; }

  /* Event Section Styles */
  .events.section { min-height: 500px; }
  .events .eventlist { }
  .events .eventlist li { width: 100%; float: left; clear: both; margin-bottom: 20px; }
  .events .logo { float: left; width: 220px; }
  .events .eventinfo { float: left; font-family: 'Museo-500'; font-size: 14px; }
  .events .eventinfo h4 { font-size: 18px; color: #3dbbe6; margin: 0; font-weight: 400; }
  .events .eventinfo p { margin: 0; margin-bottom: 2px; }
  .events .eventinfo p.strong { font-weight: 400; font-family: 'Museo-700' }

  /* Prize Section Styles */
  .prizes.section { min-height: 500px; }

  /* Sponsor Section Styles */
  .sponsors.section { min-height: 500px; }

  /* Resource Section Styles */
  .resources.section { min-height: 500px; }

  /* Footer */
  .footer { position: relative; height:346px; width:100%; margin:-10px 0 0 0; background:url(../img/footer_background.png) repeat-x top center; color:#EEE; font-family:'Museo-700'; font-size:12px; overflow: hidden; }
  .footer .content { width:950px; padding-top:34px; background: none; }
  .footer a { color:#EEE; }
    /* Footer Subscribe */
    .footer .subscribe { float: left; padding-bottom:40px; margin-right:40px; width: 472px; height: 35px; }
    .footer .subscribe label { float: left; line-height:34px; margin-right:10px; }
    .footer .subscribe .control { width:275px; background:#3392ba; float: left; position: relative; padding:8px; border-radius:3px; -moz-border-radius:5px; -webkit-border-radius: 3px; }
    .footer .subscribe .subscribeemail { border:none; background:none; color: #FFF; width:180px; }
      .footer .subscribe .subscribeemail::-webkit-input-placeholder { color:#FFF; }
      .footer .subscribe .subscribeemail::-moz-input-placeholder { color:#FFF; }
      .footer .subscribe .control.error { background-color: #ff4848; }
    .footer .subscribe .subscribebutton { border:none; position: absolute; top:3px; right:2px; height:28px; width:80px; margin:0; padding:0; background:url(../img/footer_subscribe_sprite.png) no-repeat; }
      .footer .subscribe .subscribebutton:hover { background-position:0 -40px;}
      .footer .thanks h4 { margin: 0; float: left; margin-right: 10px; font-weight: 400; font-family: 'MuseoSans-500'; }
      .footer .thanks p { margin: 0; float: left; margin-right: 10px; font-weight: 400; font-family: 'Museo-300'; }

    /* Footer Social */
    .footer .social { float: left; width:250px; height:34px; }
    .footer .social p { float: left; width:95px; }
    .footer .social ul { float: left; width:150px; margin-top:8px; }
    .footer .social .icon { background:url(../img/footer_social_sprite.png) no-repeat; margin-right:3px; height:26px; width:26px; float: left; }
    .footer .social .facebook { background-position:0 0; }
      .footer .social .facebook:hover { background-position:0 -30px; }
    .footer .social .twitter { background-position:-30px 0; }
      .footer .social .twitter:hover { background-position:-30px -30px; }
    .footer .social .vimeo { background-position:-60px 0; }
      .footer .social .vimeo:hover { background-position:-60px -30px; }
    .footer .social .flickr { background-position:-86px 0; }
      .footer .social .flickr:hover { background-position:-86px -30px; }
    /* Footer Brand */
    .footer .brand { float:left; clear: left; margin-right:20px; }
    .footer .logo { float: left; background:url(../img/footer_logo.png) center center no-repeat; height:50px; width:240px; padding:60px 115px; border:1px solid #74cbef; }
    /* Footer Bottom Links */
    .footer .bottomlinks { float: left; width:250px; }
    .footer .bottomlinks ul { float: left; width:125px; padding:23px 0; }
    .footer .bottomlinks ul.first { border-right:1px solid #74cbef; }
    .footer .bottomlinks ul.last { padding-left:25px; width:75px; }
    .footer .bottomlinks li { float: left; width:125px; margin-bottom:5px; }
    /* Footer Donate */
    .footer .donate { float: right; width:178px; height:240px; border:1px solid #74cbef; }
    .footer .donate p { margin: 5px 0 5px 7px; font-family:'Museo-300'; font-size:18px; }
    .footer .donate a { position: static; margin:0 auto; }
    /* Footer Copyright */
    .footer .copyright { width:100%; text-align:center; font-family:'Museo-500'; position: absolute; bottom:0; left:0; border-top:1px solid #74cbef; }

  /* Font Faces */
  /* Museo Sans 500 */
   @font-face { font-family: 'MuseoSans-500';
                src: url('../fonts/2304EA_0_0.eot');
                src: url('../fonts/2304EA_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304EA_0_0.woff') format('woff'),
                url('../fonts/2304EA_0_0.ttf') format('truetype');
              }

  /* Museo 300 */
  @font-face { font-family: 'Museo-300';
                src: url('../fonts/2304CD_0_0.eot');
                src: url('../fonts/2304CD_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304CD_0_0.woff') format('woff'),
                url('../fonts/2304CD_0_0.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
              }

  /* Museo 500 */
   @font-face { font-family: 'Museo-500';
                src: url('../fonts/2304D3_0_0.eot');
                src: url('../fonts/2304D3_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304D3_0_0.woff') format('woff'),
                url('../fonts/2304D3_0_0.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
              }
 
  /* Museo 700 */
  @font-face { font-family: 'Museo-700';
                src: url('../fonts/2304CC_0_0.eot');
                src: url('../fonts/2304CC_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304CC_0_0.woff') format('woff'),
                url('../fonts/2304CC_0_0.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
              }
  
/* Transition CSS */
.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.transitionnav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.transitiondesc {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(images/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(images/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(images/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(images/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 5px 5px;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.pull-left { float: left; }
.pull-right { float: right; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}