/*
 * HTML5 Boilerplate
 *
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol, ul.reset, ol.reset { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==|== primary styles =====================================================
   Author: River to Well
   ========================================================================== */

  /* Overall Page */
    body { background:url(../img/background.jpg) repeat center; font-family:Arial; font-size:14px; min-width:1024px; }
    h2 { color: #212121; font-family:'Museo-700'; font-weight:400; font-size:32px; text-align:center; background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#0e0e0e)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    h3 { color: #41baeb; font-family:'Museo-500'; font-weight:400; font-size:26px; text-shadow: 1px 1px 2px #f4f3f3; }
    a { color:#0189bb; text-decoration:none; }
    a:hover { color:#0189bb; text-decoration:underline; }
    a:visited { color: #0077a3; }
    .content { width: 1024px; margin:0 auto; }
    input { font-family:Arial; text-shadow: 1px 1px 2px #2a7899; }

  /* Section */
    .section { }
    .section h2 { margin:15px 0; }
    .section .carousel { background:url(../img/section_overlay.png) 0 65px no-repeat; height:400px; position: relative; }
    .section .carousel .slide { float: left; width:1024px; height:370px; }
    .section .carousel .pager { }

  /* Arrow Buttons */
    .arrow { background:url(../img/arrow_button_sprite.png) no-repeat; height:63px; width:63px; position: absolute; }
      .arrow:hover { background-position:0 -70px; }
      .arrow.prev { top:50%; margin-top:-32px; left:0; }
      .arrow.next { top:50%; margin-top:-32px; right:0; background-position:-70px 0;}
        .arrow.next:hover { background-position:-70px -70px;}

  /* Pager Buttons */
    .pager { text-align:center; }
    .pager a { margin-right:8px; background:url(../img/pager_button_sprite.png) -21px 0 no-repeat; height:13px; width:13px; display: inline-block; border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
    .pager a.selected { background-position:0 0; }

  /* Header */
    /* Donate Nag */
      .donatenag { height:24px; line-height:24px; background:#43b9ea; color:#000; }
      .donatenag p { width: 1024px; margin:0 auto; font-family:'Arial'; font-weight:700; text-indent:10px; }
      .donatenag a { color:#FFF; font-family:'Museo-700'; font-weight:400; }
      .donatenag a.close { float: right; background:url(../img/donatenag_close.png) no-repeat; height:16px; width:16px; margin-top:4px; }
        .donatenag a.close:hover { background-position:0 -20px; }

    /* Main Nav */
      .fixednav { background:url(../img/mainnav_background.png) repeat-x; height:125px; font-size:16px; font-family:'Museo-500'; position: relative; }
      .fixednav h1 { margin:0; }
      .fixednav h1 a { background:url(../img/logo.png) no-repeat; height:49px; width:237px; position: absolute; top:35px; left:30px; }
      .mainnav { float: right; margin-top:30px; margin-right:35px; padding-right:35px; position: relative; }
      .mainnav ul { float: right;}
      .mainnav li { float: left; padding:0 10px 0 0; margin:0 10px 0 0; background:url(../img/mainnav_li_background.png) no-repeat right 10px; }
        .mainnav li.last { background:none; padding:0; margin:0; }
      .mainnav a { color: #606060; text-decoration:none; font-weight:400; text-shadow: 1px 1px 2px #FFF; line-height:55px; }
        .mainnav a:hover { text-decoration:underline; }
        .mainnav .active a { font-family:'Museo-700'; color: #549ab7; background:url(../img/mainnav_active.png) no-repeat center 40px; overflow: visible; height:90px; display: block; }
      .mainnav .socialtoggle { position: absolute; top:17px; right:0; height:21px; width:21px; background:url(../img/mainnav_social.png) no-repeat; }
        .mainnav .socialtoggle:hover { background-position: 0 -30px;}

  /* Donate */
    .donate { }
    .donate .button { background:url(../img/donate_button_sprite.png) repeat-x; height:145px; width:145px; display: block; position: absolute; left:50%; margin:0 0 0 -82px; top:-100px; }
      .donate .button:hover { background-position:0 -150px; }

  /* Hero */
    .hero { padding:0 0 30px 0; overflow: hidden; position: relative; }
    .hero .slide { float: left; width:1024px; overflow: hidden; }
      .hero .slide.hide { display: none; }
    .hero .slide img { width:100%; }
    .hero .donate { }

  /* Competition Section */
  .competition { }
  .competition .videos { margin-left:90px; }
  .competition .video { background:url(../img/competition_poster_frame.png) no-repeat; padding:5px; margin-right:10px; margin-bottom:15px; height:167px; width:267px; float: left; }
  .competition .nexttext { font-size:20px; color: #3dbbe6; font-family:'Museo-500'; padding:5px; margin-right:10px; margin-bottom:15px; height:167px; width:267px; float: left; }
  .competition .nexttext p { margin:0; }
  .competition .nexttext a { color: #3dbbe6; font-family:'Museo-700'; display: block !important; margin-top:5px; }

  /* Winners Section */

  /* Footer */
  .footer { position: relative; height:346px; width:100%; margin:30px 0 0 0; background:url(../img/footer_background.png) repeat-x top center; color:#EEE; font-family:'Museo-700'; font-size:12px; overflow: hidden; }
  .footer .content { width:950px; padding-top:34px; }
  .footer a { color:#EEE; }
    /* Footer Subscribe */
    .footer .subscribe { float: left; padding-bottom:40px; margin-right:40px; }
    .footer .subscribe label { float: left; line-height:34px; margin-right:10px; }
    .footer .subscribe .control { width:275px; background:#3392ba; float: left; position: relative; padding:8px; border-radius:3px; -moz-border-radius:5px; -webkit-border-radius: 3px; }
    .footer .subscribe .subscribeemail { border:none; background:none; color: #FFF; width:180px; }
      .footer .subscribe .subscribeemail::-webkit-input-placeholder { color:#FFF; }
      .footer .subscribe .subscribeemail::-moz-input-placeholder { color:#FFF; }
    .footer .subscribe .subscribebutton { border:none; position: absolute; top:3px; right:2px; height:28px; width:80px; margin:0; padding:0; background:url(../img/footer_subscribe_sprite.png) no-repeat; }
      .footer .subscribe .subscribebutton:hover { background-position:0 -40px;}
    /* Footer Social */
    .footer .social { float: left; width:250px; height:34px; }
    .footer .social p { float: left; width:95px; }
    .footer .social ul { float: left; width:150px; margin-top:8px; }
    .footer .social .icon { background:url(../img/footer_social_sprite.png) no-repeat; margin-right:3px; height:26px; width:26px; float: left; }
    .footer .social .facebook { background-position:0 0; }
      .footer .social .facebook:hover { background-position:0 -30px; }
    .footer .social .twitter { background-position:-30px 0; }
      .footer .social .twitter:hover { background-position:-30px -30px; }
    .footer .social .youtube { background-position:-60px 0; }
      .footer .social .youtube:hover { background-position:-60px -30px; }
    .footer .social .flickr { background-position:-86px 0; }
      .footer .social .flickr:hover { background-position:-86px -30px; }
    /* Footer Brand */
    .footer .brand { float:left; clear: left; margin-right:20px; }
    .footer .logo { float: left; background:url(../img/footer_logo.png) center center no-repeat; height:50px; width:240px; padding:60px 115px; border:1px solid #74cbef; }
    /* Footer Bottom Links */
    .footer .bottomlinks { float: left; width:250px; }
    .footer .bottomlinks ul { float: left; width:125px; padding:23px 0; }
    .footer .bottomlinks ul.first { border-right:1px solid #74cbef; }
    .footer .bottomlinks ul.last { padding-left:25px; width:75px; }
    .footer .bottomlinks li { float: left; width:125px; margin-bottom:5px; }
    /* Footer Donate */
    .footer .donate { float: right; width:178px; height:240px; border:1px solid #74cbef; }
    .footer .donate p { margin: 5px 0 5px 7px; font-family:'Museo-300'; font-size:18px; }
    .footer .donate a { position: static; margin:0 auto; }
    /* Footer Copyright */
    .footer .copyright { width:100%; text-align:center; font-family:'Museo-500'; position: absolute; bottom:0; left:0; border-top:1px solid #74cbef; }

  /* Font Faces */
  /* Museo Sans 500 */
   @font-face { font-family: 'MuseoSans-500';
                src: url('../fonts/2304EA_0_0.eot');
                src: url('../fonts/2304EA_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304EA_0_0.woff') format('woff'),
                url('../fonts/2304EA_0_0.ttf') format('truetype');
              }

  /* Museo 300 */
  @font-face { font-family: 'Museo-300';
                src: url('../fonts/2304CD_0_0.eot');
                src: url('../fonts/2304CD_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304CD_0_0.woff') format('woff'),
                url('../fonts/2304CD_0_0.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
              }

  /* Museo 500 */
   @font-face { font-family: 'Museo-500';
                src: url('../fonts/2304D3_0_0.eot');
                src: url('../fonts/2304D3_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304D3_0_0.woff') format('woff'),
                url('../fonts/2304D3_0_0.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
              }
 
  /* Museo 700 */
  @font-face { font-family: 'Museo-700';
                src: url('../fonts/2304CC_0_0.eot');
                src: url('../fonts/2304CC_0_0.eot?#iefix') format('embedded-opentype'),
                url('../fonts/2304CC_0_0.woff') format('woff'),
                url('../fonts/2304CC_0_0.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
              }
  
  /* Plugin CSS */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.pull-left { float: left; }
.pull-right { float: right; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}