body
{
	margin: 0px;
	padding: 0px;

	-webkit-text-size-adjust: none;
}

img
{
	border: 0px;

	padding: 0px;
	margin: 0px;
}

.thumb-container {
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: center center;

	display: block;
	text-decoration: none;
	float: left;

	margin: 0px 10px 10px 0px;
}

.thumb {
	position: relative;

	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

.thumb-title-container div {
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumb-title-container {
	position: absolute;
	bottom: 0px;
	z-index: 35;

	display: none;
}

.thumb-title-container-show {
	position: absolute;
	bottom: 0px;
	z-index: 35;
}

.thumb-title-container-show div {
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumb-container:hover .thumb-title-container {
	display: block;
}

.thumb-title-back {
	opacity: 0.65;
	filter: alpha(opacity=65);

	position: absolute;
	bottom: 0px;
	z-index: 30;

	display: none;
}

.thumb-title-back-show {
	opacity: 0.55;
	filter: alpha(opacity=55);

	position: absolute;
	bottom: 0px;
	z-index: 30;
}

.thumb-title-back-show div {
	padding: 5px;
}

.thumb-container:hover .thumb-title-back {
	display: block;
}

.thumb-title-back div {
	padding: 5px;
}

.thumb-image {
	opacity: 1.0;
	filter: alpha(opacity=100);

	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
}

.thumb-folder {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 20;

	background-repeat: no-repeat;

	display: block;
}

.thumb-container:hover .thumb-folder {
	display: none;
}

.thumb-container:hover .thumb-image {
	opacity: 0.3;
	filter: alpha(opacity=30);
}