body {
	background-color: #0a0a0a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
}

img {
	vertical-align: bottom;
}

form {
	display: inline;
}

/* Thumbnail */

.thumb-title-back {
	background-color: #000000;
}

.thumb-title-back-show {
	background-color: #000000;
}

.thumb-container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	color: #ffffff;
}

.thumb-image {
	background-color: #585858;
}

/* End Thumbnail */

#page-title
{
	background-image: url('images/header_background.png');
	background-repeat: repeat-x;
	background-position: bottom;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;

	padding: 10px;
}

.page-bar
{
	background-image: url('images/header_bar_background.png');
	background-repeat: repeat-x;
	background-position: top;

	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #222222;
	background-color: #303030;

	text-align: center;

	padding: 6px 10px 5px 10px;
}

#page-image-container
{
	padding: 10px;
	text-align: center;

	background-image: url('images/loading.gif');
	background-position: center;
	background-repeat: no-repeat;

	min-height: 150px;
}

#page-container
{
	padding: 10px 0px 0px 10px;
	background-color: #0a0a0a;
}

#page-error
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #ffffff;
	background-color: #1a1a1a;
	padding: 20px;
	margin: 10px;
}

#page-notice
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #ffffff;
	background-color: #1a1a1a;
	padding: 10px;
}

#page-footer
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #555555;

	padding: 20px;

	text-align: center;
}

#page-footer a {
	color: #555555;
}

#page-footer a:hover {
	color: #898989;
}

.previous-link
{
	float: left;
	display: block;

	width: 89px;
	height: 33px;

	background-position: -89px 0px;
	background-image: url('images/buttons.png');
	background-repeat: no-repeat;
}

.previous-link-disabled
{
	float: left;
	display: block;

	width: 89px;
	height: 33px;

	background-position: -89px -33px;
	background-image: url('images/buttons.png');
	background-repeat: no-repeat;
}

.previous-link:hover {
	background-position: -89px -33px;
}

.home-link
{
	display: block;

	margin:0 auto;

	width: 89px;
	height: 33px;

	background-position: 0px 0px;
	background-image: url('images/buttons.png');
	background-repeat: no-repeat;
}

.home-link:hover {
	background-position: 0px -33px;
}

.next-link
{
	float: right;
	display: block;

	width: 89px;
	height: 33px;

	background-position: -178px 0px;
	background-image: url('images/buttons.png');
	background-repeat: no-repeat;
}

.next-link-disabled
{
	float: right;
	display: block;

	width: 89px;
	height: 33px;

	background-position: -178px -33px;
	background-image: url('images/buttons.png');
	background-repeat: no-repeat;
}

.next-link:hover {
	background-position: -178px -33px;
}

#thumb-size-change {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
}

#thumb-size-change select,input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
}